<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Users</key>
	<array>
		<dict>
			<key>password</key>
			<string>monika123</string>
			<key>Username</key>
			<string>monika</string>
		</dict>
	</array>
</dict>
</plist>
